body
{
     background:linear-gradient(#0088ff, #ff0000);
    text-align:center;
}
#bigimg
{
    width:300px;
}
h1
{
    font-family:'Oswald', sans-serif;
    color:white;
}
h2
{
    font-family:'Oswald', sans-serif;
    color:white;
}
#kolz
{
    width:300px;
}
